body {
  text-align: center;
  font-size: 25px;
  background-color: lightgoldenrodyellow;
}
h1 {
  color: indigo;
}
p {
  height: 500;
  text-align: center;
  color: indigo;
  border: 3px solid indigo;
}
a {
  color: blue;
}
a:visited {
  color: yellow;
}
